.banner {
    width: 100%;
}
.container {
    background-color: #ffffff;
    width: 1200px;
}
.nav::after {
	height: 0; clear: both; display: block; visibility: hidden; content: "\0020";
}
.nav {
	margin: 0 auto; width:1200px;
}
.nav {
	-ms-zoom: 1;
}
ul, li, p, a, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.div_ztylb2 {
    width: 200px;
}
.div_ztylb2_img {
    width: 400px;
}
.div_ztylb2_list {
    padding-left: 30px;
width: 725px;
}
.articlelist2_tr {
    /* background-position: 0px 24px; */
    background-repeat: repeat-x;
border-bottom-color: rgb(226, 226, 226);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.news_icon_td {
    height: 16px;
    background-position: 0 2px;
    background-repeat: no-repeat;
    width: 10px;
}

.navcon {
    float: left;
    height: 45px;
    display: inline;
    width: 1200px;
    text-align: center;
}

.navcon a {
    color: #FFF;
    line-height: 35px;
}

.navcon li {
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight: bold;
    display: inline;
    margin-right: 30px;
}

.navv {
    background-repeat: no-repeat;
    list-style: none;
    color: white;
    line-height: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.navv li {
    width: 100px;
    display: inline-block;
}

.navv li span {
    display: inline-block;
    width: 20px;
    text-align: center;
}

#fscroll {
    overflow: hidden;
    width: 1200px;
    height: 30px;
    white-space: nowrap;
}

.mt20px {
    margin-top: 20px;
}


.pl20px {
    margin-left: 20px;

}
.pl40px {
    margin-left: 40px;

}
.footer {
	width: 1200px;
    text-align: center;
    /* border-top: 1px solid #ccc;*/
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
	background-color: #8cb8e3;
    margin: 10px auto 0;
}

.col1left .r1 {
    margin-left: 30px;
    height: 48px;
}
.col1left .r2 {
    margin-left: 16px;
    height: 248px;
}

.col1left h4 {
    position: relative;
    padding-left: 0;
    color: #8cb8e3;
    font-size: 16px;
    background-repeat: repeat-x;
    height: 32px;
    /*border-bottom: 1px solid #A40000;*/
}

.col1left h4 .title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding-left: 35px;
    line-height: 32px;
    background: url("../img/icon_tit.png")  5px center;
}

.col1left .new-list {
    position: relative;
}

.qstitle {
    width: 300px;
    height: 33px;
    margin-top: 20px;
    line-height: 33px;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
}

.w6 h4 {
    width: 448px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 10px;
}

.news-l h4 {
    width: 700px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 10px;
}

.nav-left h4 {
    width: 250px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 10px;
}

.ww6 h4 {
    position: relative;
    padding-left: 0;
    color: #7da3ca;
     background-repeat: repeat-x;
    height: 32px;
    border-bottom: 1px solid #4e667e;
}

.ww6 .new-list {
    height: 160px;
}

.ww6 h4 .title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding-left: 50px;
    line-height: 32px;
    background: url("../img/icon_tit.png") no-repeat 5px center;

}

.more {
    /*width: 50px;*/
    height: 100%;
    line-height: 28px;
}

.more a {
    width: 50px;
    /*height: 30px;*/
    display: inline-block;
}

.col1left .news-list {
}

.newList-box-title a {
    font-size: 16px;
    color: #4e667e;
    text-align: center;
    line-height: 30px;}
	
.w2 .news-list {
    width: 220px;
}

.w6 .news-list {
    width: 300px;
}

.ww6 .news-list {
    
}

.news-list {
    min-height: 180px;
    padding: 5px 5px 5px 5px;
    border-top: none;

}

.nav-l-list {
    padding: 15px 5px 5px 5px;
    border: 1px #cecece solid;
    border-top: none;
}

.nav-l-list ul li {
    padding-left: 20px;
    background-position: 3px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 30px;
}

.news-list {
    list-style: none;
    font-size: 14px;
}

.news-list li {
    line-height: 2.5;
    overflow: hidden;
    
    padding-left: 16px;
    background-position: 3px;
}




.w6 .news-list li {
    background-position: 3px;
	
}


.news-l-content, .news-content {
    width: 688px;
    min-height: 136px;
    padding: 5px 5px 5px 5px;
    border: 1px #CECECE solid;
    border-top: none;
}

.news-l-content ul li {
    ext-align: left;
    padding: 15px;
    _padding: 8px 7px 2px 6px;
    border-bottom: 1px #CCC dotted;
}

.news-l-content ul li .b {
    float: left;
    margin-left: 5px;
    width: 555px;
    line-height: 1.5;
    overflow: hidden;
}

.news-l-content ul li .b .note {
    color: #484748;
    text-align: left;
    margin-top: 8px;
    text-indent: 2em;
}

.clear {
    clear: both;
}

.pagination {
    text-align: center;
    margin: 10px auto 0;
    padding: 10px 0;
    color: #7B7B7B;
}

.pagination span, .pagination a {
    display: inline-block;
    padding: 3px 9px;
    background: #F7F7F7;
    border: 1px solid #D6CFD6;
    vertical-align: top;
}

.news-content h1 {
    text-align: center;
    margin: 10px 0 15px 0;
    font-size: 24px;
}

.news-content .header-box {
    padding: 8px 8px 2px 8px;
    border-bottom: 1px #CCC dotted;
}

.ml15px {
    margin-left: 15px;
}

.pl3px {
    padding-left: 3px;
}

.container h4 a:link, .container h4 a:hover, .container h4 a:visited {
    color: #213d4c;
}

.container .col1left h4 a:link, .container h4 a:hover, .container h4 a:visited {
    color: #213d4c;
}

.container .ww6 h4 a:link, .container h4 a:hover, .container h4 a:visited {
    color: #666666;
}

.nav-icon {
    margin-right: 10px;
    display: inline;
    float: left;
}

.navv a:link, .navv a:hover, .navv a:visited {
    color: #ffffff;
}

.wp_nav .nav-item a span.item-name {
    color: #ffffff;
}

.nav-l-list a:link, .nav-l-list a:hover, .nav-l-list a:visited {
    color: #213d4c;
}

.news-list li a:link, .news-list li a:hover, .news-list li a:visited {
    color: #666;
}

.news-l-content ul li a:link, .news-l-content ul li a:hover, .news-l-content ul li a:visited {
    color: #666;
}

.b h5 {
    font-size: 18px;
}

.main-content {
    padding: 20px;
}

.ml10px {
    margin-left: 10px;
}

#header{
width: 1200px;
 margin: 10px auto 0 auto;
}
/*xuexidongtai*/
.p-scroll {
	width: 100%; float: left;
}
.imgScro .item {
	background-position: center; height: 302px; position: relative; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover;
}
.imgScro .title {
	padding: 13px 60px 13px 20px; left: 0; width: 100%; bottom: 0; color: rgb(255, 255, 255); font-size: 16px; position: absolute; z-index: 5; background-color: rgba(0, 0, 0, 0.4);
}
.imgScro .slick-arrow {
	background-position: center; width: 7px; height: 50px; bottom: 0; position: absolute; z-index: 8; background-repeat: no-repeat;
}

.pul-list li {
	border-bottom-color: rgb(226, 226, 226); border-bottom-width: 1px; border-bottom-style: solid;
}

.pul-list .info {
	color: rgb(125, 125, 125); padding-bottom: 20px;
}
.pul-list .info  a{
	color: rgb(125, 125, 125); padding-bottom: 20px;
}
.news-li {
	padding: 20px 0; color: rgb(51, 51, 51); line-height: 1; display: block;
}
.news-li a{
	color: rgb(51, 51, 51); 
}
.news-li .time {
	color: rgb(157, 157, 157); padding-left: 25px; float: right;
}
.news-li .title {
	overflow: hidden;  display: block; white-space: nowrap; -ms-text-overflow: ellipsis;float:left;
}


.news-li .fln {
	padding-top: 10px; padding-left: 15px; float: none; display: block;
}
.news-li:hover  a{
	color: #213d4c;
}


.dtjt10_div_text .dtjt10_div_text_text {
    padding-left: 15px;
    line-height: 30px;
}

.dtjt10_div_text .dtjt10_div_text_title {
    background: #badbfd;
	color:#fff;
    text-align: center;
	line-height: 30px;
}


#navigator {
	background: #75b8fc; height: 50px; line-height: 50px; position: relative; z-index: 150;
}

#navigator ul li {
	width: 116px; float: left; position: relative;
}
#navigator ul li a {
	text-align: center; color: rgb(255, 255, 255); font-size: 14px; display: block;
}
#navigator ul li a.on {
	background: #75b8fc;
}
#navigator ul li a.on:hover {
	background: #75b8fc;
}
#navigator ul li a:hover {
	background: #badbfd; text-decoration: none;
}
#navigator ul li ul {
	left: 0; top: 45px; width: auto; display: none; position: absolute;
}
#navigator ul li.current a {
	background: rgb(106, 1, 23);
}
#navigator ul li.current ul li {
	background: rgba(255, 255, 255, 0.9); display: inline-block; -ms-zoom: 1; -webkit-background: rgba(255, 255, 255, 0.9); -moz-background: rgba(255, 255, 255, 0.9);
}
#navigator ul li.current ul li a {
	background: none; height: 33px; color: rgb(72, 72, 72); line-height: 33px;
}
#navigator ul li.current ul li a:hover {
	background: #cee6fe; color: #cee6fe;
}

.xyzt {
   width: 222px;
    height: 190px;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}
.xyzt img {
    width: 212px;
    height: 138px;
    float: left;
    margin-right: 10px;
}

.xyzt.i-5 {
    margin-right: 0;
}
.xyzt_biaoti {
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.xyzt_biaoti a {
    font-size: 14px;
    font-family: "微软雅黑";
    text-decoration: none;
    color: #2b2b2b;
}

.xglj {
   width: 222px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}
.xglj img {
    width: 220px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.xglj.i-5 {
    margin-right: 0;
}
.xglj.i-10 {
    margin-right: 0;
}
/*测试测试*/
.dtjt10_div_text a:link
{
	color:#fff;
}

.ml{ float:left; width:420px;}
.mr{ float:left; margin-left:15px;width:725px;margin-top: 15px;}
span.news_title {
    font-size: 15px;
    line-height: 36px;
    height: 36px;float: left;
}
span.news_meta {
    float: right;
    line-height: 36px;
}
li.news {
    border-bottom: #e2e2e2 1px solid;
}

.footer span::after {
    content: "组员：***，***，***，***，***";
}



.dropdown-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
}

.col_title:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #ddd;
}

.infobox {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}

.infobox label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.infobox input[type="text"],
.infobox textarea,
.infobox select,
.infobox input[type="file"] {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.infobox input[type="button"],
.infobox input[type="reset"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}

.infobox input[type="button"]:hover,
.infobox input[type="reset"]:hover {
    background-color: #0056b3;
}

#submitMessage {
    color: green;
    margin-top: 10px;
    font-size: 18px;
}


.infobox {
    padding: 30px; /* 增加内边距 */
}


#pagination {
    text-align: right; /* 右对齐 */
    margin-top: 20px; /* 顶部间距 */
    font-family: Arial, sans-serif; /* 现代字体 */
}

#pagination button {
    background-color: #007bff; /* 蓝色背景 */
    border: none; /* 无边框 */
    color: white; /* 白色文本 */
    padding: 8px 15px; /* 内边距 */
    margin: 0 5px; /* 外边距 */
    border-radius: 4px; /* 边框圆角 */
    cursor: pointer; /* 鼠标样式 */
    font-size: 14px; /* 字体大小 */
}

#pagination button:hover {
    background-color: #0056b3; /* 悬停时的背景色 */
}

#pagination input[type="number"] {
    border: 1px solid #ddd; /* 边框 */
    padding: 6px 10px; /* 内边距 */
    border-radius: 4px; /* 边框圆角 */
    width: 60px; /* 输入框宽度 */
    margin-top: 6px; /* 增加上边距 */
}

#pagination span {
    margin-right: 10px; /* 右侧外边距 */
    font-size: 14px; /* 字体大小 */
}
