
#wp_nav_w100 .wp_nav {
    margin: 0;
    padding: 0;
    display: block;
}

#wp_nav_w100 .wp_nav * {
    margin: 0;
    padding: 0;
}

#wp_nav_w100 .wp_nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#wp_nav_w100 .wp_nav .nav-item {
    display: inline-block;
    float: left;
    position: relative;
    vertical-align: bottom;
    width: 200px;
}

#wp_nav_w100 .wp_nav .on {
    z-index: 10;
}

#wp_nav_w100 .wp_nav .nav-item .mark {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 1;
}

#wp_nav_w100 .wp_nav .nav-item a {
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
    font-weight: bold;
}

#wp_nav_w100 .wp_nav .nav-item a.parent:hover {
    font-weight: bold;
}

#wp_nav_w100 .wp_nav .nav-item a.parent {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#wp_nav_w100 .wp_nav .nav-item a span.item-name {
    display: inline-block;
    padding: 15px 10px 5px;
    line-height: 22px;
    cursor: pointer;
}

#wp_nav_w100 .wp_nav .sub-nav {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 200;
    visibility: hidden;
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-image: initial;
    border-top: none;
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item {
    white-space: nowrap;
    width: 400px;
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item .mark {
    background: rgb(255, 255, 255);
    opacity: 1;
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a {
    font-size: 13px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    border-top: 1px solid rgb(216, 225, 204);
    min-width: 80px;
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a.parent:hover {
    background: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a.parent {
    background: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a span.item-name {
    padding: 5px 10px;
    line-height: 22px;
}

#wp_nav_w100 .wp_nav .nav-item a.parent:hover span.item-name {
}

#wp_nav_w100 .wp_nav .nav-item a.parent span.item-name {
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a.parent:hover span.item-name {
}

#wp_nav_w100 .wp_nav .sub-nav .nav-item a.parent span.item-name {
    text-decoration: none;
}