#wp_nav_w100 .wp_nav{margin:0;padding:0;display:block;}
#wp_nav_w100 .wp_nav *{margin:0;padding:0;}
#wp_nav_w100 .wp_nav::after{clear:both;content:".";display:block;height:0;visibility:hidden;}
#wp_nav_w100 .wp_nav .nav-item{display:inline-block;float:left;position:relative;vertical-align:bottom;width:200px;}
#wp_nav_w100 .wp_nav .nav-item .mark{display:block;width:100%;height:100%;position:absolute;left:0;top:0;z-index:99;opacity:1;}
#wp_nav_w100 .wp_nav .nav-item a{display:block;text-align:center;position:relative;z-index:100;font-weight:bold;}
#wp_nav_w100 .wp_nav .nav-item a span.item-name{display:inline-block;padding:15px 10px 13px;line-height:22px;cursor:pointer;}