.wp_article_list{display:block;width:100%;}
.wp_article_list .list_item{width:100%;height:24px;line-height:24px;border-bottom:1px dashed #ccc;vertical-align:top;}
.wp_article_list .list_item span{display:inline-block;vertical-align:top;float:left;margin-left:5px;}
.wp_article_list .list_item .pr_fields{display:inline;float:left;}
.wp_article_list .list_item .Article_Index{display:inline-block;width:10px;height:16px;margin-top:3px;color:#fff;font-size:11px;float:left;margin-right:5px;overflow:hidden;text-indent:-99em;background:url(http://localhost:63342/WebEduSite/css/img/wp_article_li_1.png) no-repeat 50%;}
.wp_article_list .list_item .Article_Title{float:left;}
.wp_article_list .list_item .ex_fields{display:inline;float:right;}
.wp_article_list .list_item .Article_PublishDate{color:#666;}
.wp_nav{display:block;margin:0;padding:0;display:block;*zoom:1;}
.wp_nav *{margin:0;padding:0;}
.wp_nav:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.wp_nav .nav-item{display:inline-block;float:left;position:relative;vertical-align:bottom;}
.wp_nav .nav-item .mark{display:block;width:100%;height:100%;position:absolute;left:0;top:0;z-index:99;}
.wp_nav .nav-item a{font-family:"Microsoft Yahei";display:block;text-align:center;position:relative;z-index:100;}
.wp_nav .nav-item a span.item-name{display:inline-block;padding:5px 10px;line-height:22px;cursor:pointer;}
#wp_nav_w100 .wp_nav{margin:0;padding:0;display:block;}
#wp_nav_w100 .wp_nav *{margin:0;padding:0;}
#wp_nav_w100 .wp_nav::after{clear:both;content:".";display:block;height:0;visibility:hidden;}
#wp_nav_w100 .wp_nav .nav-item{display:inline-block;float:left;position:relative;vertical-align:bottom;width:200px;}
#wp_nav_w100 .wp_nav .nav-item .mark{display:block;width:100%;height:100%;position:absolute;left:0;top:0;z-index:99;opacity:1;}
#wp_nav_w100 .wp_nav .nav-item a{display:block;text-align:center;position:relative;z-index:100;font-weight:bold;}
#wp_nav_w100 .wp_nav .nav-item a span.item-name{display:inline-block;padding:15px 10px 13px;line-height:22px;cursor:pointer;}
div,span,a,i,ul,li{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
:focus{outline:0;}
ul{list-style:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#cd0200;}
.wp_nav .nav-item a{font-size:16px;}
.wp_nav .nav-item a span.item-name{line-height:40px;}
.wp_nav .nav-item a span.item-name{color:#ffffff;}
@media screen{
    a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    a:hover,a:active{outline:0;}
    @media print{
        *{color:#000!important;text-shadow:none!important;background:transparent!important;box-shadow:none!important;}
        a,a:visited{text-decoration:underline;}
        a[href]:after{content:" (" attr(href) ")";}
    }
    a{color:#000;text-decoration:none;}
    a:hover,a:focus{color:#005580;text-decoration:underline;}
    ul{padding:0;margin:0 0 10px 25px;}
    li{line-height:20px;}
}
ul,li,a{margin:0;padding:0;}
ul{list-style:none;}
.wp_nav .nav-item a span.item-name{color:#ffffff;}
#navigator ul li{width:116px;float:left;position:relative;}
#navigator ul li a{text-align:center;color:rgb(255, 255, 255);font-size:14px;display:block;}
#navigator ul li a:hover{background:#badbfd;text-decoration:none;}